@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --blackOcean: #333;
    --whiteOcean: #fff;
	--blueSimpleAdmin: #287bff;
	--whiteSimpleAdmin: #fff;
	--greySimpleAdmin: #f5f5f5;
	--black1SimpleAdmin: #222;
	--black2SimpleAdmin: #999;
}

.darkOcean {
    --blackOcean: #fff;
    --whiteOcean: #333;
}

.mainContent {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.pageBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-burger-menu {
    position: absolute;
    top: 52%;
    left: 0;
    padding: 0 20px;
    cursor: pointer;
    z-index: 10000;
    mix-blend-mode: difference;
}
