$font-size-h1:                 rem(36px)     !default; // ~ 34px
$font-size-h2:                 rem(32px)    !default; // ~ 29px
$font-size-h3:                 rem(28px)       !default; // ~ 24px
$font-size-h4:                 rem(24px)      !default; // ~ 20px
$font-size-h5:                 rem(20px)    !default; // ~ 17px
$font-size-h6:                 rem(16px)    !default; // ~ 13px

$font-size-display-1:          rem(52px)    !default; // ~75px
$font-size-display-2:          rem(44px)    !default; // ~60px
$font-size-display-3:          rem(36px)    !default; // ~45px
$font-size-display-4:          rem(28px)    !default; // ~35px
$font-size-button-semi-md:     rem(30px)    !default;
$font-size-button-md:          rem(25px)    !default;


$font-size-heading:            rem(15px)    !default; // ~14px
$font-size-heading-title:      rem(22px)    !default; // ~14px
$font-size-lead:               rem(20px)    !default; // ~14px
$font-size-button-icon:        rem(14px)    !default; // ~14px

$font-size-paragraph:          $font-size-base          !default; // ~16px
$font-size-navbar:             $font-size-base          !default;
$font-size-xs:                 rem(12px)      !default;
$font-size-sm:                 0.8125rem      !default;
$font-size-lg:                 1rem      !default;
$font-size-large-navbar:       20px         !default;
$font-size-blockquote:         rem(16px)      !default; // ~ 15px

$font-weight-light:             300         !default;
$font-weight-normal:            400         !default;
$font-weight-semi:              500         !default;
$font-weight-semi-md:           600         !default;
$font-weight-bold:              700         !default;
