.z-index-deepdive{
  z-index:$z-index-deepdive;
}
.z-index-dive{
  z-index: $z-index-dive;
}
.z-index-default{
  z-index: $z-index-default;
}
.z-index-anchor{
  z-index: $z-index-anchor;
}
.z-index-docked{
  z-index: $z-index-docked;
}
.z-index-sticky{
  z-index: $z-index-sticky;
}
.z-index-dialog{
  z-index: $z-index-dialog;
}
.z-index-dropdown{
  z-index: $z-index-dropdown;
}
.z-index-modal{
  z-index: $z-index-modal;
}
.z-index-overlay{
  z-index: $z-index-overlay;
}
.z-index-popup{
  z-index: $z-index-popup;
}
.z-index-reminder{
  z-index: $z-index-reminder;
}
.z-index-spinner{
  z-index: $z-index-spinner;
}
.z-index-toast{
  z-index: $z-index-toast;
}
.z-index-sidebar{
  z-index: $z-index-sidebar;
}
.z-index-aside{
  z-index: $z-index-aside;
}


